#mySidenavContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  display: none;
  transition: all 2s;
}
#mySidenav {
   background-color:white;
} 
.menumar {
  margin-top: 20px;
}
.menumar:hover {
  cursor: pointer;
}
#mySidenav img {
  width: 140px;
  height: 35px;
  margin-left: -15px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(255, 208, 0);
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.sidenav .logo-side {
  position: absolute;
  top: 25px;
  left: 25px;
}
.menu{
  color: rgb(255, 208, 0);
  font-size: 16px;
  margin-bottom: -20px;
  padding: 20px;
}
.navbar-inverse {
    background-color: #431781;
    font-size: 10px!important;
    border-bottom: 1px solid rgb(68, 34, 131);
    height:65px!important;
}
#cardnav {
  background-color: transparent;
}

  .x {
    margin-bottom: 60px;
  }
  .ye {
    color: yellow!important;
  }
  .show {display:block;}
  .nav img {
      width: 170px;
      height: 50px;
      margin-right: 50px;
      margin-top: 7px;
  }
  .yellowbtn {
    background-color: rgb(255, 208, 0)!important;
    color:  black!important;
    text-decoration: none!important; 
  }
  .blackbtn {
    background-color: black!important;
    color:rgb(255, 208, 0)!important;
  }
  .btnsmobile {
    display: none;
  }
  #myBtn {
    margin-top: 7px;
  }
  .btn-info {
    font-size: 10px;
    padding: 10px!important;
    border: none!important;
    margin-top: 12px;
    margin-right: 10px;
  }
  .bgcolor {
    background-color:#ffffff;
    background: linear-gradient(173deg, #431781 80%, #ffffff 40%);
    color: white;
  }
  .bgcolor2 {
    background-color: #ffffff;
    background: linear-gradient(173deg, #ffffff 80%, #431781 40%);
    color: white;
  }
  .bgcolor3 {
    background:-webkit-gradient(linear, left top, left bottom, from(#431781), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
    color: white;
  }
  .brain a {
    color: rgb(255, 208, 0);
    text-decoration: underline;
  }
  .brain {
    padding: 20px;
    margin-top: 70px;
  }
  .cap {
    text-transform:uppercase;
  }
  .card {
    
    -webkit-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    -moz-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    width: 90%;
    border-radius: 20px!important;
    background-color: white;
    color: black;
    padding: 6px;
    border: 3px solid #431781;
  }
  .card:hover {
    transform: scale(1.03);
			transition: transform .3s ease-in-out;
  }
  .card a 
  {
    color: black;
   }
   .card a:hover {
     text-decoration: none;
   }

  .card img {
    border-radius: 10px;
    width: 100%;
    height: 280px;
    background-color: rgb(2, 11, 15);
    margin-bottom: 5px;
  }
  .card img:hover {
    background-color: rgb(52, 20, 82);
  }
  #responsive {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top:10px;
  
  }
  .cc {
    padding: 10px;
    
  }
  .card-footer {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 10px;
  }
  .logo img {
    width: 150px;
    height: 40px;
    margin-left: -0px;
  }
  .footer {
    padding: 15px;
    border-top: 1px solid  rgb(68, 34, 131);
  }
  .footer a {
    color: white;
    font-size: 15px;
    margin-right: 40px;
  }
  .footer a:hover {
    text-decoration: none;
    color: yellow;
    cursor: pointer;
  }
  .as {
    margin-top: 10px;
  }
  .footer i {
     color: rgb(255, 208, 0);
     font-size: 3ex;
  }
  .bgcards{
    height: 80vh;
    background-size: auto;
    background-position: top;
   
  }
  #bgcard1 {
    background: url('6.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(18, 221, 228)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%); 
  }
  
  #bgcard2 {
    background: url('4.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(168, 60, 172)), to(rgb(20, 206, 159)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard3 {
    background: url('6 (1).png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(33, 90, 196)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard4 {
    background: url('9.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(230, 63, 57)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard5 {
    background: url('3.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(76, 22, 90)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard6 {
    background: url('3 (1).png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(25, 180, 121)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard7 {
    background: url('3 (2).png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(23, 121, 134)), to(rgb(189, 70, 141)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard8 {
    background: url('04.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(14, 35, 128)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard9 {
    background: url('5.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(201, 14, 201)), to(rgb(6, 29, 105)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard10 {
    background: url('01.png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(25, 12, 138)), to(rgb(17, 10, 54)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard11 {
    background: url('4 (1) (1).png') no-repeat, -webkit-gradient(linear, left top, left bottom,  from(rgb(207, 104, 56)), to(rgb(143, 28, 97)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard12 {
    background: url('11.png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(22, 90, 45)), to(rgb(205, 218, 22)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard13 {
    background: url('06.png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(21, 6, 87)), to(rgb(218, 110, 22)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  
  #bgcard14 {
    background: url('10.png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(10, 211, 20)), to(rgb(25, 63, 15)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard15 {
    background: url('2.png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(149, 118, 150)), to(rgb(88, 7, 56)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard16 {
    background: url('6 (2).png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(12, 168, 122)), to(rgb(9, 29, 143)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard17 {
    background: url('3 (3).png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(156, 24, 42)), to(rgb(138, 70, 79)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  #bgcard18 {
    background: url('4 (2).png') no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(88, 22, 90)), to(rgb(15, 5, 11)));;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
    clip-path: polygon(0 0, 100% 0, 100% 62%, 0 96%);
  }
  .gray {
    border-radius: 10px;
    color: black;
    padding: 10px;
    -webkit-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    -moz-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    background-color: rgb(241, 205, 43);
  }
  .after {
    margin-top: 50px;
  }
  .same {
    
    margin-top: 20px;
  }
  .bordbottom {
    border-bottom: 1px solid rgb(199, 184, 184);
  }
  #padd {
    padding: 15px;
  }
 
 .active { /* target vo javascript */
  color:#431781!important;
  background: rgb(73, 10, 54);
}
.bgregister {
  height: 100vh;
  width: 100%;
  background-image: url('bgregister.jpg');
  
  background-size: cover;
}
.registerin {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.37);

}
.registerform {
  padding: 10px;
  margin-top: 80px;
  background-color:rgb(255, 208, 0);
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    -moz-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
}
.registerform input, .registerform textarea {
  background-color: black;
  color: rgba(255, 255, 255, 0.705);
  border-radius: 1px solid black;
  border: none;
}
.right {
  margin-top: 320px;
  text-transform: uppercase;
  font-style: italic;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    -moz-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
}
#rightre {
  color: black;
  background-color: rgba(255, 208, 0, 0.815);
}
#rightlog {
  
  color:white;
  background-color: rgba(0, 110, 255, 0.815);
  
}
#rightlog a {
  color: yellow;
  text-decoration: none;
}


.bgsignin {
  background-image: url('signin.jpg');
  background-size: cover;
  height:100vh;
  width: 100%;
}
.signinin {
  height:100%;
  height: 100%;
  background-color: rgba(42, 93, 231, 0.466);
}
.login {
  background-color: rgba(2, 2, 37, 0.829);
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  -webkit-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
    -moz-box-shadow: -1px -1px 32px -9px rgba(48,47,46,1);
}
.login p {
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
}
.fb {
  background-color: rgb(48, 48, 204); 
}
.li {
  background-color: rgb(71, 71, 247); 
}
.tw {
  background-color: rgb(9, 9, 170);
}


@media only screen and (max-width: 1024px) {
     .none {
       display: none;
}
    .btnsmobile {
      display: block;
    }
    .cc {
      margin-bottom: 5px;
    }
    .card img {
      height: 180px;
    }
    .footer a{
       margin-right: 15px;
       font-size: 13px;
    }
    .nav img {
      margin-left: 350px;
      margin-right: 0px;
    }
    #gamesbtn {
      margin-top: 60px;
    }
    
  
   
}
@media only screen and (max-width: 768px) {
    #btnmg {
      margin-left: 130px;
    }
    .card img {
      height: 250px;
    }
    .card {
      margin-bottom: 15px;
    }
    .cc {
      margin-bottom: 0 auto;
    }
    .footer a{
      margin-right: 55px;
      font-size: 13px;
      
   }
   .as {
     margin-left: 220px;
   }
   .footer i {
     margin-left: 25px;
   }
   .menu {
     padding: 10px;
   }
   .sidenav {
     width: 200px;
   }
   

 
}
@media only screen and (max-width: 425px) {
  #btnmg {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 12px;
  }
  #btnbl {
    width: 150px;
   font-size: 12px; }
   .card img {
     display: none;
   }
   #responsive {
     display: block;
   }
   .as {
    margin-left: 25px;
  }
  .footer i {
    margin-left: 30px;
  }
  .menu {
    font-size: 14px;
     }
    .nav img {
      width: 130px;
      height: 40px;
       margin-right: 0;
      margin-left:20px;  }
      #gamesbtn {
        margin-top: 80px;
      }
      #mySidenavContainer {
        width: 00px;
      }

}
@media only screen and (max-width: 425px) {
  #btnmg {
    font-size: 10px;
    margin:0px;
    width: 125px;
    margin-left: 30px;
    
  }
  #btnbl {
    width: 125px;
    font-size: 10px;
    margin: 0; }
}
@media only screen and (max-width: 375px) {
  #btnmg {
    margin-left: 35px;
    width: 100px;
    
  }
  #btnbl {
    width: 122px;
  }
    .nav img {
      width: 130px;
      height: 40px;
       margin-right: 0;
      margin-left:20px;  }
      .as {
        margin-left: 45px;
      }
      .footer i {
        margin-left: 25px;
      }
      .footer a {
        margin-right: 35px;
        font-size: 12px; }
        .menu {
          font-size: 14px; }
         
}
@media only screen and (max-width: 320px) {

  .as {
    margin-left: 0px;
  }
  #btnmg {
    margin-left: 0px;

  }
  
 
  

  
